body{
    background-color: lightPink;
    color : purple;
}

#profile_image{
    margin: 3rem;
    border-radius: 10%;
}

#contact_details{

    margin-left: 60rem;
    margin-bottom: 3rem;

}

#name{
    margin-left:3rem;
}